# guiferviz version of genanki with support to deck configurations and updated 
# to genanki 0.11.0
genanki @ git+https://github.com/Otter-man/genanki.git@original_repo

gTTS
iso-639
pygithub
markdown2
Pygments
pykakasi
googletrans==3.1.0a0
chardet==3.0.4
# Anki dependencies.
anki
protobuf>=3.13.0  # needed because version pinned by mypy-protobuf gives error.
